* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.thanh-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e50000;
    color: white;
    padding: 15px 30px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.noi-dung {
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.tieu-de-phan {
    text-align: center;
    margin-bottom: 30px;
}

.danh-sach-san-pham {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 10px;
    /* Khoảng cách giữa các sản phẩm */
}


.the-san-pham {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: 0.3s;
    /* Them mau sau 0.3s => giup muot hon */

}

.the-san-pham:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.the-san-pham img {
    width: 100%;
    height: auto;
}

.gia-tien {
    color: #e50000;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}

.nut-mua,
.nut-them-vao-gio {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    /* Nút mua trải dài hết chiều ngang */
}

.tim-kiem input {
    width: 300px;
    height: 40px;
    border: 1px solid white;
    padding-left: 20px;
    border-radius: 20px;
}


.nut-bam-header {
    border: None;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.thanh-nav button {
    background-color: #e50000;
    cursor: pointer;
    border: none;
}



.nhom-nut-mua {
    display: flex;
    gap: 10px;
}

#khu-vuc-trang-chu {
    display: grid;
}

#khu-vuc-dang-nhap h2 {
    font-size: 40px;
    color : #FF3D00;
    text-align: center;
    padding-bottom: 7px;
}
#khu-vuc-dang-nhap h3{
    text-align:center ;
    font-size: 15px;
    padding-bottom: 7px;

}

#khu-vuc-dang-nhap p{
    text-align: center;
    font-size: 12px;
    padding-bottom: 10px;

}

#khu-vuc-dang-nhap{
    max-width: 800px;
    background-color: white;
    border : 1x solid white;
    border-radius: 20px;
    margin: 15vh auto;
    padding: 50px;

}

#khu-vuc-dang-nhap input, button{
    max-width: 650px;
    width: 100%;
    border: 2px solid rgba(217, 99, 25, 0.71) ;
    border-radius: 30px;
    padding: 10px 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#khu-vuc-dang-nhap button{
    background-color: #FF3D00 ;
    color: white;
}

html{
    background-color: #F5F5F7;
}

.radio-group{
    display: flex;
    gap : 20px;
    align-items: center;
}
.radio-group label{
    display: flex;
    align-items: center;
    gap:5px;
}