#khu-vuc-quen-mat-khau {
    max-width: 800px;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    margin: 15vh auto;
    padding: 50px;
}

#khu-vuc-quen-mat-khau h2 {
    font-size: 40px;
    color: #FF3D00;
    text-align: center;
    padding-bottom: 7px;
}

#khu-vuc-quen-mat-khau h3 {
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
    padding-bottom: 7px;
}

#khu-vuc-quen-mat-khau p {
    text-align: center;
    font-size: 12px;
    padding-bottom: 10px;
}

#khu-vuc-quen-mat-khau input,
#khu-vuc-quen-mat-khau button {
    max-width: 650px;
    max-height: 200px;
    width: 100%;
    border: 2px solid rgba(217, 99, 25, 0.71);
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}   

#khu-vuc-quen-mat-khau button {
    background-color: #FF3D00;
    color: white;
}

/* ====================================*/
#button-tiep-tuc:hover {
    cursor: pointer;
    background-color: #e63600;
}


