<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cửa hàng Điện thoại HT</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <div id="header-placeholder"></div>

    <main id="khu-vuc-trang-chu" class="noi-dung">
        <h2 class="tieu-de-phan">Điện Thoại Nổi Bật</h2>
        <div class="danh-sach-san-pham" id="danh-sach-sp">
            </div>
    </main>

    <div id="footer-placeholder"></div>

    <script src="../static/js/api-client.js"></script>
    <script src="../static/js/common.js"></script>
</body>
</html>
