<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cửa hàng Điện thoại HT</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/home.css">


</head>

<body>

    
    <div id="header-placeholder"></div>

    <main id="khu-vuc-trang-chu" class="noi-dung">

        <div class="slider-wrapper">
            <div class="slider-container">
                <div class="slider-track">
                    <div class="slide slide-orange">
                        <div class="slide-content">
                            <span class="badge">MỚI VỀ HÔM NÀY</span>
                            <h2>Xiaomi 14<br>Ultra</h2>
                            <p class="specs">Leica · Snapdragon 8 Gen 3 · 5000mAh</p>
                            <p class="old-price">Giá cũ: <del>25.990.000đ</del></p>
                            <p class="new-price">22.990.000đ</p>
                            <a href="#" class="btn-buy">Mua ngay →</a>
                        </div>
                    </div>
                    <div class="slide-image">
                        <img src="https://tse3.mm.bing.net/th/id/OIP.v2gZ9YqRjr841Ch31Q18GAHaHa?rs=1&pid=ImgDetMain&o=7&rm=3"
                        alt="Iphone 14 Pro Max 128GB">
                        <img src="https://tse3.mm.bing.net/th/id/OIP.v2gZ9YqRjr841Ch31Q18GAHaHa?rs=1&pid=ImgDetMain&o=7&rm=3"
                        alt="Samsung S22 8GB/128GB">
                        <img src="https://tse3.mm.bing.net/th/id/OIP.v2gZ9YqRjr841Ch31Q18GAHaHa?rs=1&pid=ImgDetMain&o=7&rm=3" alt="Iphone 11 64GB">
                    </div>
                </div>
            </div>

            <button class="btn-slider btn-prev" id="btn-prv">❮</button>
            <button class="btn-slider btn-next" id="btn-next">❯</button>

            <div class="slider-dots" id="slider-dots">
                <span class="dot active"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>


        </div>

        <div class="danh-sach-san-pham" id="danh-sach-sp">


        </div>
    </main>

    <script src="../static/js/common.js"></script>
    <script src="../static/js/home.js"></script>
</body>

</html>