<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/product-detail.css">

</head>

<body>
    <div id="header-placeholder"></div>
    <div class="wrapper-product-detail">
        <div class="left-column">
            <div class="image-product-detail">
                <img alt="Sản phẩm">
            </div>
            <div class="mo-ta-san-pham">
                <h3>Đánh giá chi tiết</h3>
                <div class="noi-dung-mo-ta">

                </div>
            </div>
        </div>

        <div class="right-column">
            <div class="inform-product-detail">
                <span id="label-detail">iphone</span>
                <h2></h2>
                <div class="rating_available">
                    <span id="rating">⭐⭐⭐⭐⭐ (128 đánh giá)</span>
                    <span id="available"> Còn hàng</span>
                </div>

                <div class="price-product-detail">
                    <h2></h2>
                    <span id="old-price"><del></del></span>
                    <span id="percent">-15%</span>
                </div>

                <p class="config-label">Dung lượng</p>
                <div class="button-dung-luong">
                    <button>128GB</button>
                    <button>256GB</button>
                    <button>512GB</button>
                </div>

                <div class="detail-action">
                    <button class="btn-mua-ngay">Mua ngay</button>
                    <button class="btn-them-gio-hang">Thêm vào giỏ hàng</button>
                </div>
            </div>

            <div class="thong-so-section">
                <h3>Thông số kĩ thuật</h3>
                <table class="thong-so-ky-thuat">

                </table>
            </div>


        </div>
    </div>
    <div class="khu-vuc-danh-gia">
        <div class="header-danh-gia">
            <h2>Hỏi đáp & đánh giá Samsung Galaxy A06 5G Chính hãng</h2>
        </div>

        <div class="tong-quan-danh-gia">
            <div class="cot-diem">
                <div class="diem-so">5/5</div>
                <div class="sao-tong">⭐⭐⭐⭐⭐</div>
                <div class="tong-so-danh-gia">73 đánh giá và hỏi đáp</div>
            </div>

            <div class="cot-thanh-sao">
                <div class="dong-sao">
                    <span>5 Sao</span>
                    <div class="thanh-ngang">
                        <div class="phan-tram" style="width: 100%;"></div>
                    </div>
                    <span>73</span>
                </div>
                <div class="dong-sao">
                    <span>4 Sao</span>
                    <div class="thanh-ngang">
                        <div class="phan-tram" style="width: 0%;"></div>
                    </div>
                    <span>0</span>
                </div>
                <div class="dong-sao">
                    <span>3 Sao</span>
                    <div class="thanh-ngang">
                        <div class="phan-tram" style="width: 0%;"></div>
                    </div>
                    <span>0</span>
                </div>
                <div class="dong-sao">
                    <span>2 Sao</span>
                    <div class="thanh-ngang">
                        <div class="phan-tram" style="width: 0%;"></div>
                    </div>
                    <span>0</span>
                </div>
                <div class="dong-sao">
                    <span>1 Sao</span>
                    <div class="thanh-ngang">
                        <div class="phan-tram" style="width: 0%;"></div>
                    </div>
                    <span>0</span>
                </div>
            </div>


        </div>



        <div class="danh-sach-binh-luan-mc">

            <div class="item-binh-luan-mc">
                <div class="noi-dung-chinh">
                    <div class="header-user">
                        <span class="ten">Sơn</span>
                        <span class="sdt">08875921xx</span>
                        <span class="sao-danh-gia">⭐⭐⭐⭐⭐</span>
                    </div>
                    <div class="text-binh-luan">Qua dang cap lun</div>
                    <div class="action-binh-luan">
                        <button class="btn-thich">👍 1 Thích</button>
                        <span class="thoi-gian">19:42 05/11/2025</span>
                    </div>


                </div>
            </div>

            <div class="item-binh-luan-mc">
                <div class="noi-dung-chinh">
                    <div class="header-user">
                        <span class="ten">Andrew</span>
                        <span class="sdt">03379662xx</span>
                        <span class="sao-danh-gia">⭐⭐⭐⭐⭐</span>
                    </div>
                    <div class="text-binh-luan">Máy có giao tới Huế ko ạ</div>
                    <div class="action-binh-luan">
                        <button class="btn-thich">👍 0 Thích</button>
                        <span class="thoi-gian">09:00 01/10/2025</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="footer-placeholder"></div>

    <script src="..//static/js/product_detail.js"></script>
    <script src="../static/js/common.js"></script>

</body>

</html>