<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    <div id="header-placeholder"></div>
    <div class="wrapper-product-detail">
        <div class="image-product-detail">
            <img>
        </div>
        <div class="inform-product-detail">
            <span>iphone</span>
            <h2></h2>
            <div class="price-product-detail">
                <h2  sy></h2> 
                <span id="old-price"><del></del></span>

                <div class="rating_available">
                    <span id="rating">⭐⭐⭐⭐⭐ (128 đánh giá)</span>
                    <span id="available"> Còn hàng</span>
                </div>
                <span id="percent">-15%</span>
                <p>Dung lượng</p>
                <div class="button-dung-luong">
                    <button>128GB</button>
                    <button>256GB</button>
                    <button>512GB</button>
                </div>   
                <button id="btn-mua-ngay">
                    Mua ngay
                </button>
                <button id="btn-them-gio-hang">
                    Thêm vào giỏ hàng
                </button>
         </div>

         
        </div>
        </div>


        <div class="product-tabs-section">
            <div class="btn-tabs-section">
                <button>Thông số kỹ thuật</button>
                <button>Mô tả sản phẩm</button>
                <button>Đánh giá</button>
            </div>

            <div class="tab-pane active">
                <table class="thong-so-ky-thuat">
                    
                </table>
            </div>


        </div>
    

    <script src="../static/js/script.js"></script>
</body>
</html>