<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
    <div id="header-placeholder"></div>
    <main id="khu-vuc-dang-nhap" class="noi-dung">
        <div>
            <h2>
                Đăng ký
            </h2>
            <h3>
                Đăng ký để nhận nhiều ưu đãi
            </h3>
            <p>Bạn đã có tài khoản?<a href="login.html">Đăng nhập</a></p>
        </div>
        <div>
            <form>
            <label for="ho-va-ten">Họ và Tên</label><br>
            <input type="text" id="ho-va-ten" placeholder="Nhập Họ và Tên"><br>
            <br>

            <label for="Email">Email</label><br>
            <input type="text" id="Email" placeholder="Nhập địa chỉ Email"><br>
            <br>

            <label for="sdt">Số điện thoại</label><br>
            <input type="text" id="sdt" placeholder="Nhập số điện thoại"><br>
            <br>

            <label for="password">Mật khẩu</label><br>
            <input type="password" id="password" placeholder="Nhập mật khẩu của bạn"><br>
            <br>
            <div class="radio-group">
                <label>Giới tính </label>
                <label><input type="radio" name="gender" value="male" checked> Nam</label>
                <label><input type="radio" name="gender" value="female"> Nữ</label>
                <label><input type="radio" name="gender" value="other"> Khác</label>
            </div>
            
            </form>
            
            


        </div>
        <br>
        <button id="button-dang-ky">
            Đăng ký
        </button>
    </main>

    <script src="../static/js/common.js"></script>
    <script src="../static/js/login.js"></script>
</body>

</html>