<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khôi phục mật khẩu</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div id="header-placeholder"></div>
    <main id="khu-vuc-dang-nhap" class="noi-dung">
        <div>
            <h2>
                Khôi phục mật khẩu
            </h2>
            <h3>
                Vui lòng nhập Email để tìm lại tài khoản
            </h3>
            <p>Nhớ ra mật khẩu rồi? <a href="login.html">Đăng nhập</a></p>
        </div>
        <div>
            <form>
            <label for="Email">Email hoặc SĐT</label><br>
            <input type="text" id="Email" placeholder="Nhập Email hoặc số điện thoại của bạn"><br>
            <br>
            </form>
        </div>
        <br>
        <button id="button-dang-nhap">
            Gửi mã xác nhận
        </button>
    </main>

    <script src="../static/js/common.js"></script>
    <script src="../static/js/login.js"></script>
</body>
</html>