#khu-vuc-quen-mat-khau {
    max-width: 800px;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    margin: 15vh auto;
    padding: 50px;
}

#step-1{
    max-width: 700px; /* Điều chỉnh theo ý muốn của bạn */
    margin: 0 auto;   /* Căn giữa form */
    padding: 20px;
}
#step-1 input,
#step-1 button {
    width: 100%;
    box-sizing: border-box; 
    padding: 12px 15px;    
    margin-bottom: 15px;    
    border-radius: 5px;     
}
#khu-vuc-quen-mat-khau h2 {
    font-size: 40px;
    color: #FF3D00;
    text-align: center;
    padding-bottom: 7px;
}

#khu-vuc-quen-mat-khau h3 {
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
    padding-bottom: 7px;
}

#khu-vuc-quen-mat-khau p {
    text-align: center;
    font-size: 12px;
    padding-bottom: 10px;
}

#khu-vuc-quen-mat-khau input,
#khu-vuc-quen-mat-khau button {
    max-width: 650px;
    width: 100%;
    border: 2px solid rgba(217, 99, 25, 0.71);
    border-radius: 5px;
    padding: 12px 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.form-group {
    text-align: left;
    max-width: 650px;
    margin: 0 auto;
}

.form-group label {
    font-weight: bold;
    font-size: 14px;
    color: #555;
    display: block;
    margin-top: 10px;
}

#khu-vuc-quen-mat-khau button {
    background-color: #FF3D00;
    color: white;
}


#btn-send-otp:hover {
    cursor: pointer;
    background-color: #e63600;
}


#error-message {
    font-size: 14px;
    color: #e63600;
    margin-bottom: 10px;
    margin-top: 3px;
;   
}