<nav class="admin-sidebar">
    <div class="admin-logo">
        HT Mobile Staff
    </div>
    <ul>
        <li>
            <a href="dashboard.html">
                <i class="fa-solid fa-chart-line"></i> Tổng quan
            </a>
        </li>
        <li>
            <a href="pos.html">
                <i class="fa-solid fa-cash-register"></i> Bán hàng (POS)
            </a>
        </li>
        <li>
            <a href="orders.html">
                <i class="fa-solid fa-cart-shopping"></i> Quản lý Đơn hàng
            </a>
        </li>
        <li>
            <a href="products.html">
                <i class="fa-solid fa-mobile-screen"></i> Tra cứu Sản phẩm
            </a>
        </li>
        <li>
            <a href="../../Giao_Dien_PBL3/login.html">
                <i class="fa-solid fa-right-from-bracket"></i> Đăng xuất
            </a>
        </li>
    </ul>
</nav>